# App
PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# Database (PostgreSQL)
DATABASE_URL="postgresql://postgres:password@localhost:5432/shopsphere?schema=public"

# JWT
JWT_SECRET=change_this_to_a_long_random_secret
JWT_EXPIRES_IN=7d
JWT_RESET_SECRET=change_this_to_another_long_random_secret
JWT_RESET_EXPIRES_IN=15m

# Mail (for Forgot Password - use Mailtrap/Gmail SMTP etc.)
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=your_mail_user
MAIL_PASS=your_mail_pass
MAIL_FROM="ShopSphere <no-reply@shopsphere.com>"

# Uploads
UPLOAD_DIR=uploads
